top_detection/Yet-Another-EfficientDet-Pytorch/datasets/top_detection/
top_detection/Yet-Another-EfficientDet-Pytorch/*.pth
top_detection/Yet-Another-EfficientDet-Pytorch/logs/
top_detection/data_generator/annotations/*.json
top_detection/data_generator/image_data/
top_detection/data_generator/json_files/
top_detection/data_generator/video_data/
top_detection/detector/data/
top_detection/detector/weights/
face_lanemark_detection/data/
face_lanemark_detection/weights/
*.pth
*.pt

#-------------top_detect_ssd_ver-------------
top_detect_ssd_ver/data/
top_detect_ssd_ver/*.md
.DS_Store
.idea
log
models

eval_results/

# Pytorch Models
*.pth

# images
*.jpg
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
#---------------------------------------------
