top_detect/top_detection/Yet-Another-EfficientDet-Pytorch/datasets/top_detection/
top_detect/top_detection/Yet-Another-EfficientDet-Pytorch/*.pth
top_detection/Yet-Another-EfficientDet-Pytorch/logs/
top_detect/top_detection/data_generator/annotations/*.json
top_detect/top_detection/data_generator/image_data/
top_detect/top_detection/data_generator/json_files/
top_detect/top_detection/data_generator/video_data/
top_detect/top_detection/detector/data/
top_detect/top_detection/detector/weights/
sleep_detect/face_lanemark_detection/data/
sleep_detect/face_lanemark_detection/weights/
*.pth
*.pt

#-------------top_detect_ssd_ver-------------
top_detect/top_detect_ssd_ver/data/
top_detect/top_detect_ssd_ver/*.md
.DS_Store
.idea
log
models

eval_results/

# Pytorch Models
*.pth

# images
*.jpg
*.png
*.zip
*.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
#--------------top_detectoin_efficient_det_ver----------------------
sample_nets/Yet-Another-EfficientDet-Pytorch-master/

top_detect/top_detect_ssd_lite_ver/data/
top_detect/top_detect_ssd_lite_ver/runs/
top_detect/top_detect_yolov3/weights/
top_detect/top_detect_yolov3/data/
top_detect/top_detect_yolov3/label/
top_detect/top_detect_yolov3/config/

#-------------facial age recogment--------
facial_age_classifier/ResNet_ver/checkpoint/
facial_age_classifier/ResNet_ver/runs/

#-------------facial age recogment new version--------
facial_age_classifier/EfficientNet_ver/imbalanced-dataset-sampler/
facial_age_classifier/EfficientNet_ver/data/
facial_age_classifier/EfficientNet_ver/weights/
facial_age_classifier/EfficientNet_ver/data_preprocess/class_4_data/
facial_age_classifier/EfficientNet_ver/data_preprocess/data/

#car_distance_recognition
car_distance_recognition/sample/

facial_age_classifier/EfficientNet_ver/data_preprocess/sample/


#LandMark classifier
Landmark_classifier/dataset/
Landmark_classifier/checkpoint/


#--------------------VDSR-----------------------
VDSR/dataset/

#korean_face_classifier
korean_face_classifier/tools/sample_data/
korean_face_classifier/data/

#-------ECG_classification----------------
ECG_classification/data/
